<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    {% for file in all_files %}
    <a href="{{ file.file.url }}">{{file.title}}</a>
    {% endfor %}

    <form method="POST" action="/" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input name="title" type="title" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="mb-3">
            <label for="formFileMultiple" class="form-label">Multiple files input example</label>
            <input name="file" class="form-control" type="file" id="formFileMultiple" multiple>
        </div>
        <button type="submit" class="btn btn-primary"> Submit </button>
    </form>
</div>





</body>
</html>