<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static '/global3.css' %}" />
    <link rel="stylesheet" href="{% static '/component.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Akshar:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Anton:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Black Han Sans:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:ital,wght@0,400;1,400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Aclonica:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="div132">
      <div class="divsection-npgrxrjuqraa0gc3i1">
        <b class="inventumtrade-llc-address1"
          >© 2023 InventumTrade. LLC. Address for sending legally significant
          messages: InventumTrade@gmail.com</b
        >
      </div>
      <img class="child" alt="" src="{% static '/public/rectangle-23.svg' %}" />

      <img
        class="inventum-2-1-71"
        alt=""
        src="{% static '/public/inventum-2-1-7@2x.png' %}"
      />

      <div class="about-the-company-container6">
        <span class="about-the-company-container7">
          <p class="about-the-company3">ABOUT THE COMPANY</p>
          <p class="our-vacancies3">Our vacancies</p>
          <p class="our-vacancies3">Partners</p>
          <p class="our-vacancies3">Advertising on the site</p>
          <p class="our-vacancies3">News and articles</p>
          <p class="our-vacancies3">Investors</p>
          <p class="our-vacancies3">Terms of service provision</p>
          <p class="terms-of-use3">Terms of use of sites</p>
        </span>
      </div>
      <div class="about-the-company-container8">
        <span class="about-the-company-container7">
          <p class="about-the-company3">ABOUT THE COMPANY</p>
          <p class="our-vacancies3">Our vacancies</p>
          <p class="our-vacancies3">Partners</p>
          <p class="our-vacancies3">Advertising on the site</p>
          <p class="our-vacancies3">News and articles</p>
          <p class="our-vacancies3">Investors</p>
          <p class="our-vacancies3">Terms of service provision</p>
          <p class="terms-of-use3">Terms of use of sites</p>
        </span>
      </div>
      <div class="about-the-company-container10">
        <span class="about-the-company-container7">
          <p class="about-the-company3">ABOUT THE COMPANY</p>
          <p class="our-vacancies3">Our vacancies</p>
          <p class="our-vacancies3">Partners</p>
          <p class="our-vacancies3">Advertising on the site</p>
          <p class="our-vacancies3">News and articles</p>
          <p class="our-vacancies3">Investors</p>
          <p class="our-vacancies3">Terms of service provision</p>
          <p class="terms-of-use3">Terms of use of sites</p>
        </span>
      </div>
      <img
        class="opengraph-image-2-2-icon1"
        alt=""
        src="{% static '/public/opengraph-image2-2@2x.png' %}"
      />

      <img
        class="a6515b1e0ad75acc-6-icon1"
        alt=""
        src="{% static '/public/58429400a6515b1e0ad75acc-6@2x.png' %}"
      />

      <img
        class="png-transparent-google-logo-go-icon1"
        alt=""
        src="{% static '/public/pngtransparentgooglelogogoogletexttrademarklogoremovebgpreview-2@2x.png' %}"
      />

      <img
        class="telegram-logo-1-1-2-icon1"
        alt=""
        src="{% static '/public/telegramlogo11-2@2x.png' %}"
      />

      <div class="divinput-search-root-1r1">
        <img class="svg-icon81" alt="" src="./public/svg7.svg" />

        <div class="input-1">
          <div class="divplaceholder1">
            <i class="search1">SEARCH</i>
          </div>
        </div>
        <img class="icon-xbox-x1" alt="" src="{% static '/public/-icon-xbox-x.svg' %}" />
      </div>
      <div class="item"></div>
      <div class="job-openings3">JOB OPENINGS</div>
      <div class="researches2">RESEARCHES</div>
      <div class="about-us2">ABOUT US</div>
      <img
        class="inventum-2-1-61"
        alt=""
        src="{% static '/public/inventum-2-1-6@2x.png'%}"
      />

      <img
        class="icon-profile-circled2"
        alt=""
        src="{% static '/public/-icon-profile-circled.svg' %}"
      />

      <div class="sign-out2">Sign out</div>
      <img
        class="icon-message-text2"
        alt=""
        src="{% static '/public/-icon-message-text.svg' %}"
      />

      <img
        class="icon-bell-notification2"
        alt=""
        src="{% static '/public/-icon-bell-notification1.svg' %}"
      />

      <img class="vector-icon2" alt="" src="./public/vector.svg" />

      <div class="item"></div>
      <div class="job-openings3">JOB OPENINGS</div>
      <div class="researches2">RESEARCHES</div>
      <div class="about-us2">ABOUT US</div>
      <img
        class="inventum-2-1-61"
        alt=""
        src="./public/inventum-2-1-6@2x.png"
      />

      <img
        class="icon-profile-circled2"
        alt=""
        src="./public/-icon-profile-circled.svg"
      />

      <div class="sign-out2">Sign out</div>
      <img
        class="icon-message-text2"
        alt=""
        src="./public/-icon-message-text.svg"
      />

      <img
        class="icon-bell-notification2"
        alt=""
        src="./public/-icon-bell-notification1.svg"
      />

      <img class="vector-icon2" alt="" src="./public/vector.svg" />

      <img class="icon-user1" alt="" src="./public/-icon-user.svg" />

      <div class="rectangle-div"></div>
      <img class="nasa-2-icon" alt="" src="./public/nasa-2@2x.png" />

      <div class="nasa16">Nasa</div>
      <img
        class="annular-eclipse-photo-bill-dun-icon"
        alt=""
        src="./public/annulareclipsephotobilldunford-1@2x.png"
      />

      <div class="nasa-highlights-media-container">
        <p class="nasa-highlights-media">NASA Highlights Media Opportunities</p>
        <p class="for-upcoming-ring">for Upcoming Ring of Fire Eclipse</p>
      </div>
      <i class="on-saturday-oct-container">
        <p class="nasa-highlights-media">
          On Saturday, Oct. 14, the Moon will pass between Earth and the Sun,
          giving people
        </p>
        <p class="nasa-highlights-media">
          across the United States an opportunity to see an annular solar
          eclipse. NASA will
        </p>
        <p class="nasa-highlights-media">
          host live coverage of the eclipse starting at 11:30 a.m. EDT. Media
          have an
        </p>
        <p class="nasa-highlights-media">
          opportunity to interview NASA experts live prior to the eclipse, and
          those on site at
        </p>
        <p class="nasa-highlights-media">
          two locations where NASA will broadcast live also can request
          interviews that day.
        </p>
        <p class="nasa-highlights-media">
          Also known as a ring of fire eclipse, an annular solar eclipse happens
          when the Moon
        </p>
        <p class="nasa-highlights-media">
          is at or near its farthest point from Earth. Because the Moon is
          farther away than it is
        </p>
        <p class="nasa-highlights-media">
          during a total solar eclipse, the Moon appears smaller and doesn’t
          block out the
        </p>
        <p class="nasa-highlights-media">
          entire Sun when it passes in front of our star. Instead, the Moon
          leaves a bright ring
        </p>
        <p class="nasa-highlights-media">
          of Sun visible at the eclipse’s peak, creating the ring of fire
          effect.
        </p>
        <p class="nasa-highlights-media">
          Watch the agency’s eclipse coverage live on NASA Television, the
          agency’s
          <a class="website" href="https://www.nasa.gov/nasatv" target="_blank">
            <span class="website1">website</span> </a
          >,
        </p>
        <p class="nasa-highlights-media">
          and the
          <a
            class="website"
            href="https://www.nasa.gov/nasa-app/"
            target="_blank"
          >
            <span class="website1">NASA app</span> </a
          >. NASA also will stream the broadcast live on its
          <a
            class="website"
            href="https://www.facebook.com/events/257401430535836"
            target="_blank"
          >
            <span class="website1">Facebook</span> </a
          >,
          <a class="website" href="https://twitter.com/nasa" target="_blank">
            <span class="website1">X</span> </a
          >, and
        </p>
        <p class="nasa-highlights-media">
          <a
            class="website"
            href="https://www.youtube.com/watch?v=LlY79zjud-Q"
            target="_blank"
          >
            <span class="website1">YouTube</span>
          </a>
          social media accounts.
        </p>
      </i>
      <div class="we-need-a">We need a...</div>
      <div class="child1"></div>
      <div class="it-service">IT Service</div>
      <div class="child2"></div>
      <div class="attack-a-files">attack a files</div>
      <img class="icon-folder1" alt="" src="{% static '/public/-icon-folder1.svg' %}" />

      <div class="child3"></div>
      <div class="submit">Submit</div>
      <div class="space-exploration">space exploration</div>
    </div>
  </body>
</html>
