
{%load static%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>InventumTrade</title>

    <link rel="stylesheet" href="{% static 'global.css' %}" />
    <link rel="stylesheet" href="{% static 'index.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inria Serif:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Aclonica:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:ital,wght@0,400;1,400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Akronim:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Akshar:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Anton:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Black Han Sans:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="home">
      <b class="science-for-everyone-container">
        <p class="science">SCIENCE</p>
        <p class="science">FOR EVERYONE</p>
      </b>
      <div class="home-child"></div>
      <div class="section">
        <div class="divself-startmargin">
          <div class="divself-start">
            <div class="heading-2">
              <div class="share-knowledge">Share knowledge</div>
            </div>
            <div class="pfont-extralight">
              <i class="explore-together-with-container">
                <p class="science">
                  Explore together with our Open science forum!
                </p>
                <p class="science">
                  Share and multiply your knowledge and skills
                </p>
              </i>
            </div>
          </div>
        </div>
        <div class="divw-full">
          <div class="list">
            <div class="item">
              <div class="link">
                <div class="marketing">Marketing</div>
              </div>
            </div>
            <div class="item1">
              <div class="link1">
                <div class="marketing">Information Technology</div>
              </div>
            </div>
            <div class="item2">
              <div class="link2">
                <div class="marketing">Healthcare</div>
              </div>
            </div>
            <div class="item3">
              <div class="link">
                <div class="marketing">Support Service</div>
              </div>
            </div>
            <div class="item4">
              <div class="link4">
                <div class="marketing">IT Services</div>
              </div>
            </div>
            <div class="item5">
              <div class="link5">
                <div class="marketing">Sustainability</div>
              </div>
            </div>
            <div class="item6">
              <div class="link11">
                <div class="marketing">Business Administration</div>
              </div>
            </div>
            <div class="item7">
              <div class="link">
                <div class="marketing">Public Administration</div>
              </div>
            </div>
            <div class="item8">
              <div class="frame">
                <div class="marketing">Engineering</div>
              </div>
            </div>
            <div class="item9">
              <div class="link8">
                <div class="marketing">See all</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="job-openings">JOB OPENINGS</div>
      <div class="researches">RESEARCHES</div>
      <div class="about-us">ABOUT US</div>
      <div class="home-item"></div>
      <img
        class="cc6f98b-7f93-41b0-9319-127d33d-icon"
        alt=""
        src="{% static '/public/0cc6f98b7f9341b09319127d33dcbb75removebgpreview-1-1@2x.png'%}"
      />

      <b class="cience-for-everyone-container">
        <p class="science">CIENCE</p>
        <p class="science">FOR EVERYONE</p>
      </b>
      <div class="science-for-everyone-container1">
        <p class="science">SCIENCE</p>
        <p class="science">FOR EVERYONE</p>
      </div>
      <div class="home-inner"></div>
      <div class="join-now">JOIN NOW</div>
      <div class="divsection-npgrxrjuqraa0gc3i">
        <div class="divbloko-columns-wrapper">
          <div class="divbloko-column">
            <div class="divtitle-v9nfy9bovca-ylisd3j">
              <div class="how-should-i-container">
                <p class="science">How should I start</p>
                <p class="science">publishing projects?</p>
              </div>
            </div>
          </div>
          <div class="divbloko-column1">
            <div class="divemployer-index-step">
              <div class="divemployer-index-step-img">
                <img
                  class="step1-min-svg-icon"
                  alt=""
                  src="{% static '/public/step1--min-svg.svg' %}"
                />
              </div>
              <div class="divbloko-gapmargin">
                <div class="divbloko-gap">
                  <div class="divsubtitle-yu7fkhfgxqygjum">
                    <div class="sign-up">sign up</div>
                  </div>
                  <div class="divemployer-index-step-descri">
                    <div class="divbloko-text">
                      <i class="and-get-access"
                        >and get access to all InventumTrade services</i
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="pseudo">
                <img
                  class="arrow-min-svg-icon"
                  alt=""
                  src="{% static '/public/arrow--min-svg.svg' %}"
                />
              </div>
            </div>
          </div>
          <div class="divbloko-column2">
            <div class="divemployer-index-step">
              <div class="divemployer-index-step-img1">
                <img
                  class="step2-min-svg-icon"
                  alt=""
                  src="{% static '/public/step2--min-svg.svg' %}"
                />
              </div>
              <div class="divbloko-gapmargin1"></div>
              <div class="pseudo">
                <img
                  class="arrow-min-svg-icon"
                  alt=""
                  src="{% static '/public/arrow--min-svg.svg' %}"
                />
              </div>
            </div>
          </div>
          <div class="divbloko-gap1">
            <div class="divsubtitle-yu7fkhfgxqygjum1">
              <div class="ost-a-research">Рost a research</div>
            </div>
            <div class="divemployer-index-step-descri1">
              <div class="divbloko-text1">
                <i class="and-get-access"
                  >get feedback and help from professionals</i
                >
              </div>
            </div>
          </div>
          <div class="divbloko-column3">
            <div class="divemployer-index-step2">
              <div class="divemployer-index-step-img2">
                <img
                  class="step2-min-svg-icon"
                  alt=""
                  src="{% static '/public/step3--min-svg.svg' %}"
                />
              </div>
              <div class="divbloko-gapmargin2">
                <div class="divbloko-gap2">
                  <div class="divsubtitle-yu7fkhfgxqygjum2">
                    <div class="ost-a-research">Choose the best</div>
                  </div>
                  <div class="divemployer-index-step-descri1">
                    <div class="divbloko-text2">
                      <i class="and-get-access"
                        >and improve your project and bring it to perfection</i
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="divbloko-column4">
            <div class="divemployer-index-step-action">
              <div class="link9">
                <div class="get-started-on-container">
                  <i>get started on </i>
                  <span class="inventumtrade">InventumTrade</span>
                </div>
              </div>
              <div class="divemployer-index-step-compan">
                <div class="spanemployer-index-step-compa"></div>
                <div class="spanemployer-index-step-compa1"></div>
                <div class="divbloko-text3">
                  <div class="and-get-access">
                    <span>more than 2511 studies</span>
                    <span class="are-waiting-for-you">
                      <span class="span"> </span>
                      <span>are waiting for you</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divsection-npgrxrjuqraa0gc3i1">
        <div class="divbloko-columns-wrapper1">
          <div class="divbloko-column5">
            <div class="divtitle-v9nfy9bovca-ylisd3j1">
              <div class="why-you-should">
                Why you should post your research on InventumTrade?
              </div>
            </div>
            <div class="divbloko-text4">
              <i class="and-get-access">
                <p class="science">
                  Research is a search for new knowledge or a systematic
                  investigation
                </p>
                <p class="science">in order to establish facts</p>
              </i>
            </div>
            <div class="link10">
              <i class="post-a-study">post a study</i>
            </div>
          </div>
          <div class="divbloko-column6">
            <div class="divemployer-index-benefits-li">
              <div class="divemployer-index-benefits-it">
                <div class="divemployer-index-benefits-im">
                  <div class="divemployer-index-benefits-im1">
                    <div class="benefits-applicants-min-svg">
                      <img
                        class="vector-icon"
                        alt=""
                        src="./public/vector.svg"
                      />

                      <img
                        class="vector-icon1"
                        alt=""
                        src="./public/vector1.svg"
                      />

                      <div class="div">47%</div>
                    </div>
                  </div>
                </div>
                <div class="div1">
                  <div class="divsubtitle-yu7fkhfgxqygjum3">
                    <div class="every-second-user">
                      Every second user will see the post
                    </div>
                  </div>
                  <div class="divemployer-index-benefits-de">
                    <div class="divbloko-text5">
                      <div class="new-researchers-from-container">
                        <p class="science">
                          <i>
                            <span class="new-researchers"
                              >47% new researchers</span
                            >
                            <span>
                              from all over the world are registered
                            </span>
                          </i>
                        </p>
                        <p class="science">
                          <i>
                            <span>on </span>
                          </i>
                          <span>
                            <span class="span">InventumTrade</span>
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="divemployer-index-benefits-it1">
                <div class="divemployer-index-benefits-im2">
                  <div class="divemployer-index-benefits-im1">
                    <div class="benefits-applicants-min-svg">
                      <img
                        class="vector-icon"
                        alt=""
                        src="./public/vector.svg"
                      />

                      <img
                        class="vector-icon3"
                        alt=""
                        src=" {% static '/public/vector2.svg' %}"
                      />

                      <div class="div2">93%</div>
                    </div>
                  </div>
                </div>
                <div class="div3">
                  <div class="divbloko-text2">
                    <div class="every-second-user">
                      Find a sponsor for any research
                    </div>
                  </div>
                  <div class="divemployer-index-benefits-de1">
                    <div class="divbloko-text6">
                      <i class="button-95">93% of studies respond</i>
                      <div class="inventumtrade-has-the-container">
                        <i> </i>
                        <span class="span">InventumTrade </span>
                        <i>has the most active audience</i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="divemployer-index-benefits-it2">
                <div class="divemployer-index-benefits-im2">
                  <div class="divemployer-index-benefits-im1">
                    <div class="benefits-applicants-min-svg">
                      <img
                        class="vector-icon"
                        alt=""
                        src="{% static '/public/vector3.svg' %}"
                      />

                      <img
                        class="vector-icon3"
                        alt=""
                        src="{% static '/public/vector4.svg' %}"
                      />

                      <div class="div4">88%</div>
                    </div>
                  </div>
                </div>
                <div class="div3">
                  <div class="divsubtitle-yu7fkhfgxqygjum5">
                    <div class="every-second-user">
                      Respond to those who are right for you
                    </div>
                  </div>
                  <div class="divemployer-index-benefits-de">
                    <div class="divbloko-text5">
                      <i class="text"> </i>
                      <i class="button-87">88% of users </i>
                      <i class="successfully-promote-their"
                        >successfully promote their research and projects</i
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <i class="recommendation-technologies-ar-container">
        <p class="recommendation-technologies-ar">
          Recommendation technologies are used on the InventumTrade information
          resource (information technologies for providing information based on
          the collection, systematization and analysis
        </p>
        <p class="science">
          of information related to the preferences of Internet users)
        </p>
      </i>
      <i class="inventumtrade-llc-address"
        >© 2023 InventumTrade. LLC. Address for sending legally significant
        messages: InventumTrade@gmail.com</i
      >
      <img class="inventum-2-1-1" alt="" src="{% static '/public/inventum-2-1-1@2x.png' %}" />

      <div class="sign-up1">
        <div class="sign-up2">SIGN UP</div>
      </div>
      <img class="rectangle-icon" alt="" src="{% static '/public/rectangle-6.svg' %}" />

      <div class="log-in">LOG IN</div>
      <img
        class="a6515b1e0ad75acc-1-icon"
        alt=""
        src="{% static '/public/58429400a6515b1e0ad75acc-1@2x.png' %}"
      />

      <b class="inventumtrade-llc-address1"
        >© 2023 InventumTrade. LLC. Address for sending legally significant
        messages: InventumTrade@gmail.com</b
      >
      <img class="home-child1" alt="" src="{% static '/public/rectangle-61.svg' %}" />

      <img class="inventum-2-1-4" alt="" src="{% static '/public/inventum-2-1-4@2x.png' %}" />

      <div class="about-the-company-container">
        <span class="about-the-company-container1">
          <p class="about-the-company">ABOUT THE COMPANY</p>
          <p class="our-vacancies">Our vacancies</p>
          <p class="our-vacancies">Partners</p>
          <p class="our-vacancies">Advertising on the site</p>
          <p class="our-vacancies">News and articles</p>
          <p class="our-vacancies">Investors</p>
          <p class="our-vacancies">Terms of service provision</p>
          <p class="terms-of-use">Terms of use of sites</p>
        </span>
      </div>
      <div class="about-the-company-container2">
        <span class="about-the-company-container1">
          <p class="about-the-company">ABOUT THE COMPANY</p>
          <p class="our-vacancies">Our vacancies</p>
          <p class="our-vacancies">Partners</p>
          <p class="our-vacancies">Advertising on the site</p>
          <p class="our-vacancies">News and articles</p>
          <p class="our-vacancies">Investors</p>
          <p class="our-vacancies">Terms of service provision</p>
          <p class="terms-of-use">Terms of use of sites</p>
        </span>
      </div>
      <div class="about-the-company-container4">
        <span class="about-the-company-container1">
          <p class="about-the-company">ABOUT THE COMPANY</p>
          <p class="our-vacancies">Our vacancies</p>
          <p class="our-vacancies">Partners</p>
          <p class="our-vacancies">Advertising on the site</p>
          <p class="our-vacancies">News and articles</p>
          <p class="our-vacancies">Investors</p>
          <p class="our-vacancies">Terms of service provision</p>
          <p class="terms-of-use">Terms of use of sites</p>
        </span>
      </div>
      <img
        class="a6515b1e0ad75acc-1-icon"
        alt=""
        src="{% static '/public/58429400a6515b1e0ad75acc-1@2x.png' %}"
      />

      <div class="divsection-npgrxrjuqraa0gc3i3">
        <b class="inventumtrade-llc-address2"
          >© 2023 InventumTrade. LLC. Address for sending legally significant
          messages: InventumTrade@gmail.com</b
        >
      </div>
    </div>
  </body>
</html>
