.inventumtrade-llc-address1 {
  position: relative;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 968px;
}
.divsection-npgrxrjuqraa0gc3i1 {
  position: absolute;
  width: calc(100% + 4px);
  top: 2157px;
  right: -4px;
  left: 0;
  background-color: var(--color-gray-400);
  height: 122px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-whitesmoke-200);
  font-family: var(--font-akshar);
}
.child,
.inventum-2-1-71 {
  position: absolute;
  top: 1638px;
  left: 0;
  width: 1484px;
  height: 519px;
}
.inventum-2-1-71 {
  top: 2010px;
  left: 1226px;
  width: 233px;
  height: 191px;
  object-fit: cover;
}
.about-the-company3,
.our-vacancies3 {
  margin-block-start: 0;
  margin-block-end: 15px;
}
.about-the-company3 {
  font-size: var(--font-size-xl);
  line-height: 25px;
  font-family: var(--font-black-han-sans);
  color: var(--color-orangered-100);
}
.our-vacancies3 {
  line-height: 20px;
}
.terms-of-use3 {
  margin: 0;
  line-height: 20px;
}
.about-the-company-container7 {
  line-break: anywhere;
  width: 100%;
}
.about-the-company-container10,
.about-the-company-container6,
.about-the-company-container8 {
  position: absolute;
  top: 1744px;
  left: 229px;
  display: flex;
  align-items: center;
  width: 265px;
  font-size: var(--font-size-lg);
  font-family: var(--font-anton);
}
.about-the-company-container10,
.about-the-company-container8 {
  left: 1062px;
}
.about-the-company-container10 {
  left: 645px;
}
.a6515b1e0ad75acc-6-icon1,
.opengraph-image-2-2-icon1 {
  position: absolute;
  top: 2047px;
  left: 360px;
  width: 68.83px;
  height: 71px;
  object-fit: cover;
}
.a6515b1e0ad75acc-6-icon1 {
  top: 2049px;
  left: 216px;
  width: 100px;
}
.png-transparent-google-logo-go-icon1,
.telegram-logo-1-1-2-icon1 {
  position: absolute;
  top: 2049px;
  left: 480px;
  width: 72.58px;
  height: 71px;
  object-fit: cover;
}
.telegram-logo-1-1-2-icon1 {
  top: 2054px;
  left: 621px;
  border-radius: var(--br-81xl);
  width: 66px;
  height: 64px;
}
.svg-icon81 {
  position: absolute;
  margin: 0 !important;
  top: 10px;
  left: 20px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 0;
}
.search1 {
  position: relative;
  line-height: 20px;
}
.divplaceholder1,
.input-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divplaceholder1 {
  align-self: stretch;
  overflow: hidden;
  padding: var(--padding-9xs) var(--padding-433xl) var(--padding-9xs) 0;
}
.input-1 {
  height: 44px;
  padding: var(--padding-5xs-5) 0 var(--padding-5xs-5) var(--padding-41xl);
  box-sizing: border-box;
  z-index: 1;
}
.icon-xbox-x1 {
  position: relative;
  width: 21px;
  height: 21px;
  z-index: 2;
}
.divinput-search-root-1r1,
.item {
  position: absolute;
  box-sizing: border-box;
}
.divinput-search-root-1r1 {
  width: calc(100% - 840px);
  top: 205px;
  right: 171px;
  left: 669px;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
  font-size: var(--font-size-sm);
  color: var(--color-orangered-200);
}
.item {
  top: 113.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  width: 1481px;
  height: 1px;
}
.about-us2,
.job-openings3,
.researches2 {
  position: absolute;
  top: 54px;
  left: 348px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #126d64;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-us2,
.researches2 {
  left: 549px;
}
.about-us2 {
  left: 735px;
}
.inventum-2-1-61 {
  position: absolute;
  top: 0;
  left: 64px;
  width: 233px;
  height: 191px;
  object-fit: cover;
}
.icon-profile-circled2 {
  position: absolute;
  top: 32px;
  left: 1240px;
  width: 60px;
  height: 60px;
}
.sign-out2 {
  position: absolute;
  top: 55px;
  left: 1309px;
  font-size: var(--font-size-5xl);
  line-height: 20px;
  color: var(--color-darkslategray);
}
.icon-bell-notification2,
.icon-message-text2,
.icon-user1,
.vector-icon2 {
  position: absolute;
  height: 2.32%;
  width: 3.24%;
  top: 2.01%;
  right: 24.97%;
  bottom: 95.67%;
  left: 71.79%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-bell-notification2,
.icon-user1,
.vector-icon2 {
  height: 2.19%;
  width: 2.91%;
  right: 30.78%;
  bottom: 95.8%;
  left: 66.32%;
}
.icon-user1,
.vector-icon2 {
  height: 2.33%;
  width: 2.57%;
  top: 1.86%;
  right: 19.83%;
  bottom: 95.81%;
  left: 77.6%;
}
.icon-user1 {
  height: 1.8%;
  width: 2.45%;
  top: 1.81%;
  right: 13%;
  bottom: 96.39%;
  left: 84.55%;
}
.rectangle-div {
  position: absolute;
  top: 341px;
  left: calc(50% - 509px);
  background-color: var(--color-white);
  width: 1018px;
  height: 1216px;
}
.nasa-2-icon {
  position: absolute;
  top: 375px;
  left: 282px;
  width: 70px;
  height: 36.63px;
  object-fit: cover;
}
.nasa16 {
  position: absolute;
  top: 382px;
  left: 352px;
  font-size: var(--font-size-base);
  line-height: 22px;
  font-weight: 600;
  font-family: var(--font-roboto);
  color: var(--color-black);
}
.annular-eclipse-photo-bill-dun-icon {
  position: absolute;
  top: 438px;
  left: 297px;
  width: 217px;
  height: 165px;
  object-fit: cover;
}
.nasa-highlights-media {
  margin-block-start: 0;
  margin-block-end: 20px;
}
.for-upcoming-ring {
  margin: 0;
}
.nasa-highlights-media-container {
  position: absolute;
  top: 513px;
  left: 553px;
  font-size: var(--font-size-17xl);
  line-height: 22px;
  font-weight: 600;
  font-family: var(--font-roboto);
  color: var(--color-black);
}
.website1 {
  text-decoration: underline;
}
.website {
  color: inherit;
}
.on-saturday-oct-container {
  position: absolute;
  top: 629px;
  left: 262px;
  font-size: var(--font-size-5xl);
  line-height: 22px;
  color: inherit;
}
.we-need-a {
  position: absolute;
  top: 1218px;
  left: 363px;
  font-size: var(--font-size-17xl);
  line-height: 22px;
  color: var(--color-black);
}
.child1 {
  position: absolute;
  top: 1265px;
  left: 351px;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro);
  width: 243px;
  height: 51px;
}
.it-service {
  position: absolute;
  top: 1281px;
  left: 400px;
  font-size: 30px;
  line-height: 22px;
  color: var(--color-darkgray-100);
}
.child2 {
  position: absolute;
  top: 1218px;
  left: 718px;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro);
  width: 383px;
  height: 99px;
}
.attack-a-files {
  position: absolute;
  top: 1281px;
  left: 836px;
  font-size: var(--font-size-5xl);
  line-height: 22px;
  color: var(--color-darkgray-100);
}
.icon-folder1 {
  height: 1.53%;
  width: 2.91%;
  top: 54.3%;
  right: 37.06%;
  bottom: 44.17%;
  left: 60.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.child3,
.icon-folder1,
.submit {
  position: absolute;
}
.child3 {
  top: 1414px;
  left: calc(50% - 157px);
  border-radius: var(--br-xl);
  background-color: var(--color-darkslategray);
  width: 315px;
  height: 86px;
}
.submit {
  top: 1451px;
  left: 671px;
  font-size: var(--font-size-17xl);
  line-height: 22px;
  font-family: var(--font-aclonica);
  color: var(--color-white);
}
.space-exploration {
  position: absolute;
  top: 457px;
  left: 553px;
  line-height: 20px;
  color: #848484;
}
.div132 {
  position: relative;
  background-color: var(--color-beige);
  width: 100%;
  height: 2281px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-whitesmoke-100);
  font-family: var(--font-abeezee);
}
