.inventumtrade-llc-address {
  position: relative;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 968px;
}
.divsection-npgrxrjuqraa0gc3i {
  position: absolute;
  width: calc(100% + 4px);
  top: 2157px;
  right: -4px;
  left: 0;
  background-color: #0c1323;
  height: 122px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  text-align: center;
  color: #f6f6f6;
  font-family: var(--font-akshar);
}
.inventum-2-1-7,
.job-openings-child {
  position: absolute;
  top: 1638px;
  left: 0;
  width: 1484px;
  height: 519px;
}
.inventum-2-1-7 {
  top: 2010px;
  left: 1226px;
  width: 233px;
  height: 191px;
  object-fit: cover;
}
.about-the-company,
.our-vacancies {
  margin-block-start: 0;
  margin-block-end: 15px;
}
.about-the-company {
  font-size: var(--font-size-xl);
  line-height: 25px;
  font-family: var(--font-black-han-sans);
  color: var(--color-orangered-100);
}
.our-vacancies {
  line-height: 20px;
}
.terms-of-use {
  margin: 0;
  line-height: 20px;
}
.about-the-company-container1 {
  line-break: anywhere;
  width: 100%;
}
.about-the-company-container,
.about-the-company-container2,
.about-the-company-container4 {
  position: absolute;
  top: 1744px;
  left: 229px;
  display: flex;
  align-items: center;
  width: 265px;
  color: var(--color-whitesmoke-100);
  font-family: var(--font-anton);
}
.about-the-company-container2,
.about-the-company-container4 {
  left: 1062px;
}
.about-the-company-container4 {
  left: 645px;
}
.divcard-layer-image-view-ima-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-base) 0 0 var(--br-base);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.divcard-layer-image-view {
  align-self: stretch;
  position: relative;
  height: 230px;
}
.divcard-image-compact-view-i {
  align-self: stretch;
  width: 304px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 304px;
  max-width: 304px;
}
.divcard-image-compact-view-c1 {
  position: absolute;
  height: calc(100% - 229px);
  width: 100%;
  top: 178px;
  right: 0;
  bottom: 51px;
  left: 0;
}
.link {
  align-self: stretch;
}
.divcard-layer-header-view-ch,
.divcard-layer-header-view-ch1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divcard-layer-header-view-ch1 {
  align-self: stretch;
  flex-direction: row;
  min-height: 32px;
}
.divcard-layer-header-view-ch {
  position: absolute;
  width: calc(100% - 60px);
  top: 0;
  right: 48px;
  left: 12px;
  flex-direction: column;
  padding: var(--padding-5xs) 0 var(--padding-7xs);
  box-sizing: border-box;
  min-height: 46px;
}
.svg-icon {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.spanzen-ui-button-icon-conte {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.button-,
.div,
.divcard-layer-header-view-co {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button- {
  border-radius: var(--br-5xs);
  flex-direction: row;
  padding: var(--padding-5xs);
}
.div,
.divcard-layer-header-view-co {
  flex-direction: column;
}
.divcard-layer-header-view-co {
  position: absolute;
  top: 8px;
  left: 286px;
  align-items: center;
  padding: 0 0 0 var(--padding-9xs);
}
.divcard-layer-header-view {
  position: absolute;
  width: 100%;
  top: 24px;
  right: 0;
  left: 0;
  height: 48px;
}
.nasa-1 {
  position: relative;
  width: 50px;
  height: 26.17px;
}
.divcard-layer-header-view-ch2 {
  position: absolute;
  top: 18px;
  left: 12px;
  width: 274px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 var(--padding-7xs);
  box-sizing: border-box;
  min-height: 46px;
}
.mapping-earths-magnetotail {
  position: absolute;
  top: 5px;
  left: 0;
  line-height: 20px;
}
.heading-2-link {
  align-self: stretch;
  position: relative;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
  max-height: 40px;
}
.div2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-xs) var(--padding-11xs);
}
.p {
  margin: 0;
}
.div3 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 18px;
}
.divzen-ui-line-clamp {
  height: 100%;
  position: relative;
  width: 310px;
  overflow: hidden;
  flex-shrink: 0;
  max-height: 36px;
}
.divcard-layer-snippet-view,
.divzen-ui-common-layer-meta {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
}
.divcard-layer-snippet-view {
  height: 38px;
  flex-shrink: 0;
  align-items: flex-start;
  padding: var(--padding-11xs) var(--padding-xs) 0;
  font-size: 13.89px;
  color: var(--color-gray-100);
}
.divzen-ui-common-layer-meta {
  align-items: flex-end;
  padding: var(--padding-9xs) var(--padding-217xl) 0 var(--padding-xs);
  min-height: 18px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
}
.divcard-image-compact-view-c2 {
  position: absolute;
  width: 100%;
  top: 72px;
  right: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg-icon1 {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.spanzen-ui-button-like-icon {
  height: 32px;
  flex-direction: column;
  align-items: flex-start;
}
.div5,
.spanzen-ui-button-like-conte,
.spanzen-ui-button-like-icon {
  display: flex;
  justify-content: flex-start;
}
.div5 {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 0 9.800000190734863px;
}
.spanzen-ui-button-like-conte {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.button-1 {
  border-radius: var(--br-xs);
  padding: var(--padding-5xs) 7.579998016357422px var(--padding-xs)
    var(--padding-5xs);
  box-sizing: border-box;
  min-width: 64px;
}
.button-1,
.button-2,
.div7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div7 {
  padding: 0 0 0 9.789999961853027px;
}
.button-2 {
  border-radius: var(--br-xs);
  padding: var(--padding-5xs) 7.589996337890625px var(--padding-xs)
    var(--padding-9xs);
  box-sizing: border-box;
  min-width: 60px;
}
.spanzen-ui-button-footer-con1 {
  align-items: center;
  padding: 0 var(--padding-base) 0 0;
}
.button-3,
.divcard-layer-channel-footer-1,
.spanzen-ui-button-footer-con1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.button-3 {
  border-radius: var(--br-xs);
  align-items: flex-start;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-xs)
    var(--padding-9xs);
  box-sizing: border-box;
  min-width: 60px;
}
.divcard-layer-channel-footer-1 {
  flex: 1;
  align-items: center;
  padding: 0 79.25px 0 0;
}
.button-4 {
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs) var(--padding-xs)
    var(--padding-5xs);
}
.divcard-layer-channel-footer- {
  position: absolute;
  width: 100%;
  top: 178px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 13.78px;
  color: var(--color-gray-200);
}
.nasa {
  position: absolute;
  top: 36px;
  left: 68px;
  font-size: var(--font-size-base);
  line-height: 16px;
  font-weight: 600;
}
.divcard-image-compact-view-c3 {
  position: absolute;
  height: calc(100% - 229px);
  width: 100%;
  top: 174px;
  right: -6px;
  bottom: 55px;
  left: 6px;
}
.nasa-1-icon {
  position: absolute;
  top: 32px;
  left: 18px;
  width: 50px;
  height: 26.17px;
  object-fit: cover;
}
.divcard-image-compact-view-c {
  align-self: stretch;
  position: relative;
  width: 334px;
}
.article,
.divcard-image-compact-view-m,
.divzen-row-1margin {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divcard-image-compact-view-m {
  flex-direction: row;
  max-height: 230px;
}
.article,
.divzen-row-1margin {
  flex-direction: column;
}
.article {
  border-radius: var(--br-base);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-300);
  padding: var(--padding-12xs);
}
.divzen-row-1margin {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0 var(--padding-51xl);
}
.divzen-row-1margin-wrapper {
  position: relative;
  width: 640px;
  height: 302px;
  z-index: 0;
}
.divcard-layer-header-view-pr {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.nasa1 {
  position: absolute;
  top: 40px;
  left: 62px;
  line-height: 16px;
  font-weight: 600;
}
.nasa-1-icon1 {
  position: relative;
  width: 50px;
  height: 26.17px;
  object-fit: cover;
}
.divcard-layer-header-view1 {
  position: absolute;
  width: 100%;
  top: 28px;
  right: 0;
  left: 0;
  height: 48px;
}
.on-a-mission,
.parker-solar-probe-container {
  position: absolute;
  top: -5px;
  left: 0;
  display: flex;
  align-items: center;
}
.parker-solar-probe-container {
  font-weight: 600;
  width: 216px;
  height: 40px;
}
.on-a-mission {
  line-height: 18px;
  width: 310px;
  height: 41px;
}
.hours-ago {
  position: relative;
  line-height: 18px;
  display: inline-block;
  max-width: 310px;
}
.divzen-ui-common-layer-meta1 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-210xl) 0 var(--padding-xs);
  box-sizing: border-box;
  min-height: 18px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
}
.divcard-image-compact-view-c6 {
  position: absolute;
  width: 100%;
  top: 72px;
  right: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-lg);
}
.k {
  position: relative;
  line-height: 22px;
  font-weight: 600;
}
.button-6,
.button-7,
.div13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div13 {
  padding: 0 0.11999988555908203px 0 13.6899995803833px;
}
.button-6,
.button-7 {
  border-radius: var(--br-xs);
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-xs);
  box-sizing: border-box;
  min-width: 64px;
}
.button-7 {
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-xs)
    var(--padding-9xs);
  min-width: 60px;
}
.divcard-layer-channel-footer-3,
.divcard-layer-channel-footer-4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.divcard-layer-channel-footer-4 {
  flex: 1;
  padding: 0 81.58999633789062px 0 0;
}
.divcard-layer-channel-footer-3 {
  position: absolute;
  width: 100%;
  top: 178px;
  right: 0;
  left: 0;
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
}
.divfeed-item,
.divzen-row-0margin,
.section- {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divfeed-item {
  align-self: stretch;
}
.divzen-row-0margin,
.section- {
  position: absolute;
  box-sizing: border-box;
}
.divzen-row-0margin {
  margin: 0 !important;
  top: 276px;
  left: -3px;
  width: 640px;
  height: 232px;
  padding: 0 0 var(--padding-51xl);
  z-index: 1;
  font-size: var(--font-size-base);
}
.section- {
  height: calc(100% - 2049px);
  top: 433px;
  bottom: 1616px;
  left: 751px;
  padding: 0 0 var(--padding-12xs);
  min-width: 640px;
  max-width: 640px;
  font-family: var(--font-roboto);
}
.divzen-ui-line-clamp6 {
  align-self: stretch;
  position: relative;
  width: 310px;
  overflow: hidden;
  flex-shrink: 0;
}
.hours-ago3 {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 18px;
  color: var(--color-gray-200);
  white-space: pre-wrap;
}
.divzen-ui-common-layer-meta6 {
  align-self: stretch;
  overflow: hidden;
  min-height: 18px;
}
.section-4 {
  position: absolute;
  height: calc(100% - 2049px);
  top: 433px;
  bottom: 1616px;
  left: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
  min-width: 640px;
  max-width: 640px;
  font-family: var(--font-roboto);
}
.a6515b1e0ad75acc-6-icon,
.opengraph-image-2-2-icon {
  position: absolute;
  top: 2047px;
  left: 360px;
  width: 68.83px;
  height: 71px;
  object-fit: cover;
}
.a6515b1e0ad75acc-6-icon {
  top: 2049px;
  left: 216px;
  width: 100px;
}
.png-transparent-google-logo-go-icon,
.telegram-logo-1-1-2-icon {
  position: absolute;
  top: 2049px;
  left: 480px;
  width: 72.58px;
  height: 71px;
  object-fit: cover;
}
.telegram-logo-1-1-2-icon {
  top: 2054px;
  left: 621px;
  border-radius: 100px;
  width: 66px;
  height: 64px;
}
.svg-icon80 {
  position: absolute;
  margin: 0 !important;
  top: 10px;
  left: 20px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 0;
}
.search {
  position: relative;
  line-height: 20px;
}
.divplaceholder,
.input- {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divplaceholder {
  align-self: stretch;
  overflow: hidden;
  padding: var(--padding-9xs) 452px var(--padding-9xs) 0;
}
.input- {
  height: 44px;
  padding: var(--padding-5xs-5) 0 var(--padding-5xs-5) 60px;
  box-sizing: border-box;
  z-index: 1;
}
.icon-xbox-x {
  position: relative;
  width: 21px;
  height: 21px;
  z-index: 2;
}
.divinput-search-root-1r {
  position: absolute;
  width: calc(100% - 840px);
  top: 281px;
  right: 409px;
  left: 431px;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-sm);
  color: #ff5317;
}
.job-openings-item {
  position: absolute;
  top: 113.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1481px;
  height: 1px;
}
.about-us,
.job-openings1,
.researches {
  position: absolute;
  top: 54px;
  left: 348px;
  font-size: var(--font-size-xl);
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #126d64;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-us,
.researches {
  left: 549px;
}
.about-us {
  left: 735px;
}
.inventum-2-1-6 {
  position: absolute;
  top: 0;
  left: 64px;
  width: 233px;
  height: 191px;
  object-fit: cover;
}
.icon-profile-circled {
  position: absolute;
  top: 32px;
  left: 1240px;
  width: 60px;
  height: 60px;
}
.sign-out {
  position: absolute;
  top: 55px;
  left: 1309px;
  font-size: var(--font-size-5xl);
  line-height: 20px;
  color: var(--color-darkslategray);
}
.icon-bell-notification,
.icon-folder,
.icon-message-text,
.icon-user,
.vector-icon {
  position: absolute;
  height: 2.32%;
  width: 3.24%;
  top: 2.01%;
  right: 24.97%;
  bottom: 95.67%;
  left: 71.79%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-bell-notification,
.icon-folder,
.icon-user,
.vector-icon {
  height: 2.19%;
  width: 2.91%;
  right: 30.78%;
  bottom: 95.8%;
  left: 66.32%;
}
.icon-folder,
.icon-user,
.vector-icon {
  height: 2.33%;
  width: 2.57%;
  top: 1.86%;
  right: 19.83%;
  bottom: 95.81%;
  left: 77.6%;
}
.icon-folder,
.icon-user {
  height: 1.8%;
  width: 2.45%;
  top: 1.77%;
  right: 12.93%;
  bottom: 96.43%;
  left: 84.62%;
}
.icon-folder {
  height: 2.23%;
  width: 4.29%;
  top: 159.1%;
  right: -75.44%;
  bottom: -61.32%;
  left: 171.15%;
}
.attach-files {
  position: absolute;
  top: 3711px;
  left: 2465px;
  font-size: 36px;
  line-height: 20px;
  color: #a6a6a6;
}
.job-openings {
  position: relative;
  background-color: #e7f2da;
  width: 100%;
  height: 2281px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-abeezee);
}
